@import url('https://fonts.googleapis.com/earlyaccess/mplus1p.css');
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
@import url('https://fonts.googleapis.com/earlyaccess/sawarabigothic.css');

#sample{
	height: 1000px;
	padding-top: 800px;
}

#wrap {
    width: 100%;
    margin: 0 auto;
}
.box {
    width: 48%;
    height: 300px;
    margin: 5px;
    padding: 5px;
    border: 3px dashed #CCCCCC;
    float: left;
}
#loadimg {
    padding: 50px 0 50px 0;
    clear: both;
    text-align: center;
}

html{ background-color: #ffffff; }
body {
	font-family: "Noto Sans Japanese" , '游ゴシック体', 'Yu Gothic', YuGothic ,  sans-serif;
	background-color: #efefef;
	line-height: 1.42857143;
	}
li{ list-style: none; }	
ul, ol {
    padding: 0;
    margin: 0;
}

@media only screen and (max-width:480px){
	.sp-none480{
	display: none;
}
}
@media ( max-width : 770px) {
.sp-none{
	display: none;
}
}
@media ( min-width : 770px) {
.sc-none{ display: none; }
}
#page-top {
    position: fixed;
    bottom: 0px;
    right: 10px;
    font-size: 77%;
    z-index: 1000;
}
#page-top a {
    background: #696969;
    text-decoration: none;
    color: #fff;
    width: 50px;
    padding: 10px 0;
    text-align: center;
    display: block;
    border-radius: 40px;
    background-image: url('../svg/nasu.svg') ;
	background-repeat:no-repeat;
	background-position: center top;
	line-height: 150%;
}
nav.head {
	position: relative;
    box-sizing: border-box;
    background: #fff;
    height: 83px;
    z-index: 10;
}
.badge {
    color: #444444;
    font-size: 11px;
    background-color: #efeeee;
    padding: 2px 2px 2px 2px;
/*     height: 13px; */
    min-width: 18px;
    /* width: 18px; */
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    right: 2px;
    top: 4px;
    position: absolute;
}

#side_mymenu .badge {
    color: #444444;
    font-size: 11px;
    background-color: #efeeee;
    padding: 2px 7px 2px 7px;
/*     height: 13px; */
    min-width: 18px;
    /* width: 18px; */
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 0 0 0 7px;
    position: static;
}
#header .logo {
	position: relative;
    float: left;
    width: 100px;
    height: 21px;
    margin: 20px 10px 0;
    z-index: 1;
}
@media ( min-width : 370px) {
#header .logo {
	position: relative;
    float: left;
    width: 150px;
    height: 50px;
    margin: 25px 10px 0;
    z-index: 1;
}
}
@media ( min-width : 770px) {
#header .logo {
	position: relative;
    float: left;
    width: 150px;
    height: 50px;
    margin: 25px 10px 0;
    z-index: 1;
}
}

#header .fixheader {
  position: absolute;
  background-color: #6d6d6d;
  width: 100%;
  
}
#header.fixed .fixheader {
  position: fixed;
}

#header .login-user{
	position: relative;
	float: right;
	z-index: 1000;
}
#header .login-user p{
	    margin: 21px 10px 0 0;
    letter-spacing: 0px;
    font-size: 110%;
    font-weight: 600;
}
@media ( min-width : 370px) {
#header .login-user p{
	    margin: 30px 10px 0 0;
    letter-spacing: 0px;
    font-size: 110%;
    font-weight: 600;
}
}
#header .login-user a{ color: #ffffff;}
#header .login-user a:hover{ color: #f2de00;}

#header .userul {
    display: inline-block;
    margin: 9px 10px 5px 0;
}
@media ( min-width : 770px) {
#header .userul {
    display: inline-block;
    margin: 18px 10px 5px 0;
}
}
.userul li {
    position: relative;
    float: right;
}
li.prof-icon {
	padding: 12px 10px 0 10px;
}
li.prof-img {
	width: 52px;
    height: 54px;
    padding-left: 8px;
}

#header a{
	color: #9c9c9c;
}



#header .menu-global {
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 0;
}
#header .menu-global {
	position: static;
    max-width: none;
    width: 100%;
    height: 45px;
    background-color: #3c3c3c;
}
#header .menu-global li {
    display: inline-block;
    margin: 0 1%;
}

#header .menu-global li a {
    height: 80px;
    color: #ffffff;
    line-height: 45px;
    -webkit-transition: border .2s ease-out;
    transition: border .2s ease-out;
    text-decoration: none;
    font-size: 70%;
    font-weight: 500;
    letter-spacing:1px;
}
#header .menu-global li a:hover {
    color: #ffffff;
    border-bottom: 6px #ffffff solid;
    padding-bottom: 10px;
}

#login{
	background-color: #ffffff;
	padding: 20px 0;
}
@media ( min-width : 321px) {
#header .menu-global li a {
	font-size: 100%;
	}
}
@media ( min-width : 768px) {
#login{
	background-color: #ffffff;
	padding: 100px 0;
}
}

#login h2{
	font-weight:bold;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 30px 0;
}


#login p{
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 5px 0;
}

#login p.lead{
    line-height: 120%;
}
#login .btn-facebook, #login .btn-twitter { text-align: left;}
#login hr { margin: 30px 0;}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-facebook:hover {
    color: #fff;
    background-color: #2d4477;
    border-color: rgba(0,0,0,0.2);
}
.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2);
}
.btn-twitter:hover {
    color: #fff;
    background-color: #458ec6;
    border-color: rgba(0,0,0,0.2);
}
#login .btn:hover { color: #fdfdfd ;}

#other_post{
	padding: 10px 0 10px 0;
}
#other_post h2{
	color: #666666;
}

@media ( min-width : 992px) {
#header .menu-global {
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 0;
}
#header .menu-global {
	position: absolute;
    max-width: none;
    width: 100%;
    height: 85px;
    background-color: #000000;
    border-top: 2px #f2de00 solid;
}
#header .menu-global li {
    display: inline-block;
    margin: 0 1%;
}
#header .menu-global li a {
	color: #ffffff;
    line-height: 85px;
    font-size: 120%;
}
#header .menu-global li a:hover {
    color: #ffffff;
    border-bottom: 6px #ffffff solid;
    padding-bottom: 20px;
}
}




/* サイドオープン時にメインコンテンツを覆う部分 */
.overlay {
  content: '';
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 3;
}
.overlay::after {
  content: "";
  visibility: hidden;
  position: fixed;
  top: 40%;
  left: 0;
  display: block;
  width: 100%;
  height: 50px;
  color: rgba(255,255,255,0);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.side-open .overlay {
  visibility: visible;
  cursor: pointer;
  background: rgba(0,0,0,.7);
  z-index: 3;
}
.side-open .overlay::after {
  visibility: visible;
  color: rgba(255,255,255,.8);
}

/* サイドメニュー ※リストのスタイルは省略 */
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  text-align: left;
  font-size: 13px;
  z-index: 1;
  overflow: auto;
}

.add_member-btn {
  position: fixed;
  bottom: 50px;
  left: 5px;
  width: 46px;
  height: 54px;
  padding: 0px;
  cursor: pointer;
  z-index: 1000000;
}
@media ( min-width : 770px) {
.add_member-btn {
  bottom: 43px;
  left: 24px;
  }
}
 
@media ( min-width : 992px) {
.add_member-btn {
  bottom: 43px;
  left: 24px;
  }
}
 
@media ( min-width : 1200px) {
.add_member-btn {
  bottom: 43px;
  left: 24px;
}
}


#submit_footer {
	position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    background-color: rgba(229, 229, 229, 0.77);
    -webkit-font-smoothing: antialiased;
    animation: fadeIn 3s ease 0s 1 normal;
    -webkit-animation: fadeIn 3s ease 0s 1 normal;

}


#add_member {
	position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    background-color: rgba(229, 229, 229, 0.67);
    -webkit-font-smoothing: antialiased;
    animation: fadeIn 3s ease 0s 1 normal;
    -webkit-animation: fadeIn 3s ease 0s 1 normal;

}

#add_member p,#add_member h2 {
	color: #ffffff;
	text-align: left;
	margin: 0 0 5px 0;
	padding: 0 0 0 30px;
	text-align: center;
	letter-spacing: 0px;
	font-weight: bold;
	line-height: 140%;
	}
@media ( min-width : 770px) {
#add_member p,#add_member h2 {
	padding: 0 0 0 0;
	text-align: left;
	}
}	
	
.add_member_close{ display: none; }

#add_member p a{
	color: #ffffff;
	text-decoration: underline;
}
#add_member p a:hover{ text-decoration: none; }


/* 開閉用ボタン ※ボタンの細かいスタイルは省略 */
.side-menu-btn {
  position: fixed;
  top: 9px;
  right: 24px;
  width: 46px;
  height: 54px;
  padding: 0px;
  cursor: pointer;
  z-index: 100000;
}
@media ( min-width : 770px) {
.side-menu-btn {
  position: fixed;
  top: 13px;
  right: 20px;
  width: 54px;
  height: 54px;
  padding: 5px;
  cursor: pointer;
  z-index: 100000;
}
}

/* メインコンテンツ */
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 13px;
  background: #ffffff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
}

.wrapper-short {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 13px;
  background: #ffffff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
}
/* サイドメニューオープン */
.side-open .wrapper,
.side-open .overlay {
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}

#side_mymenu{
	
}


#side_mymenu h2 {
	margin: 0;
	padding-top: 25px;
	padding-left: 20px;
	font-size: 130%;
	color: #ffffff;
}
#side_mymenu p {
	padding: 0 0 0 20px;
	margin: -5px 0 0 0;
	color: #ffffff;
}
#side_mymenu .mytop a {
	color: #ffffff;
	text-decoration: none;
}
#side_mymenu .mytop{
	height: 85px;
	background: #707070;
}

#side_mymenu .mytop a {
	color: #ffffff;
	text-decoration: none;
}

#side_mymenu ul.mymenu {
	margin: 10px 0 10px 0;
}


.mymenu li { 
	background-color: #ffffff;
	
	margin: 3px 0;
}
.mymenu li:hover { background-color:#a6a6a6;color: #ffffff;}
.mymenu li a {
	color: #898989;
	text-decoration: none;
	padding: 15px; 15px;
	display:block;
}
.mymenu li a:hover {
	color: #ffffff;
	text-decoration: none;
	display:block;
}
#main-content{
	padding-top: 127px;
}

@media ( min-width : 992px) {
#main-content{
	padding-top: 85px;
}
}

#project_detal_top .fa-bookmark {
	font-size: 150%;
}

#project_detal_top a.book_on{
	color: #d9009f;
}
#project_detal_top a.book_off{
	color: #c3c3c3;
}
#project_detal_top {
	background-color: #ffffff;
	border-top: 1px solid #e8e8e8;
	padding: 20px 0 20px 0;
}
#project_detal_top .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}
#project_detal_top h1 {
	margin: 5px 0 10px 0;
	text-align: left;
	font-size: 160%;
}


#project_detal_top .category-item {
    margin: 2px 0px;
    display: table-cell;
}
#project_detal_top .category-item p {
    display: block;
    font-weight: bold;
    padding: 0 15px;
    /* height: 35px; */
    /* line-height: 34px; */
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #fff;
    border: 3px #eee solid;
    color: #333;
    margin: 0 1px 0 1px;
    text-decoration: none;
    font-size: 100%;
}

#project_detal_top li{
	display: inline-table;
}


#project_detal_top p.com_img{
	float: left;
	width: 30px;
	margin: 0;
}
#project_detal_top h2.com_name{
	text-align: left;
	padding: 8px 0 0 40px;
	color: #cbcbcb;
	font-weight: 400;
	font-size: 100%;
	margin: 0;
}

#project_detal_top .company_name{
	height: 30px;
	margin-bottom: 5px;
}
@media ( min-width : 768px) {
#project_detal_top .company_name{
	height: 50px;
	margin-bottom: 30px;
}
#project_detal_top p.com_img{
	float: left;
	width: 45px;
}
#project_detal_top h2.com_name{
	text-align: left;
	padding: 15px 0 0 65px;
	color: #cbcbcb;
	font-weight: 400;
	font-size: 120%;
}
}




#project_detal_description {
	background-color: #ffffff;
	border-top: 1px solid #e8e8e8;
	padding: 20px 0 20px 0;
}
#project_detal_description .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}
#project_detal_description .description_left{
	padding: 0;
}
@media ( min-width : 768px) {
#project_detal_description .description_left{
	padding: 0 0 0 0;
}
}
#project_detal_description .description_right{
	padding: 0;
}
@media ( min-width : 768px) {
#project_detal_description .description_right{
	padding: 0 0 0 20px;
	position: relative;
}
}

.apply_add{
	border-bottom: 1px solid #e8e8e8;
	padding: 0 0 20px 0;
	margin: 0 0 10px 0;
}
.apply{
	border-bottom: 1px solid #e8e8e8;
	padding: 0 0 20px 0;
	position: relative;
	margin: 0 0 10px 0;
}
.apply p{
	margin: 0 15px 10px 15px;
	
}

.apply_add.fixed {
  position: static;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    padding: 0 0 0 0;
    z-index: 400;
}
@media ( min-width : 768px) {
.apply_add.fixed {
	top: 126px;
    width: 230px;
    position: fixed;
}
 }
@media ( min-width : 992px) {
.apply_add.fixed {
	top: 85px;
    width: 303px;
    position: fixed;
}
} 
@media ( min-width : 1200px) {
.apply_add.fixed {
	top: 85px;
    width: 360px;
    position: fixed;
}
}

.apply .btn-lg {
    padding: 10px 16px;
    font-size: 120%;
    line-height: 1.3333333;
    border-radius: 6px;
}
.description_part{
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
}

.description_part p.comment{
	margin: 5px 0 5px 0;
	font-size: 90%;
    line-height: 100%;
}
.description_part table { width: 100%; }
.description_part th, section td  { padding: 15px;  text-align: left; }
.description_part th  { background: #f4f4f4; }
.description_part_table tr{
	    border-bottom: 1px solid #ddd;
    } 
/*----------------------------------------------------
  .demo01
----------------------------------------------------*/
.description_part_table th  { width: 30%; text-align: left; }
 
@media only screen and (max-width:480px){
    .description_part_table { margin: 0; }
    .description_part_table th,
    .description_part_table td{
    width: 100%;
    display: block;
    border-top: none;
    }
    
  .description_part_table tr:first-child th { border-top: 1px solid #ddd; }
}


#project_detal_description .description_left h2 {
  position: relative;
  padding: .75em 1em .75em 1.5em;
  border: 1px solid #d8d8d8;
  color: #282828;
}
#project_detal_description .description_left h2::after {
  position: absolute;
  top: .5em;
  left: .5em;
  content: '';
  width: 6px;
  height: -webkit-calc(100% - 1em);
  height: calc(100% - 1em);
  background-color: #868686;
  border-radius: 4px;
}


#topimg{
	
}
#project_main-img{
	
}

#project_category {
	background-color: #ffffff;
	padding: 40px 0;
}

#project_category h1{
	margin: 0 0 20px 0;
}




.accordion h2{
	padding: 5px 10px;
	margin: 0;
	text-align: center;

	cursor: pointer;
}
.accordion>div{
	display: none;
	padding: 10px;
	margin: 0;
	background: #fff;
	text-align: left;
}





#project_category .category-item a, .category-item p {
    display: block;
    font-size: 100%;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
    background: #fff;
    border: 3px #eee solid;
    color: #828282;
    margin: 0 1px 0 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 0;
}

#project_category .accordion .category-item {
    margin: 2px 0px;
    display: inline-block;
}

#project_category .accordion a {
	display: block;
    font-size: 100%;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
    background: #fff;
    border: 3px #eee solid;
    color: #828282;
    margin: 0 1px 0 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 14px;
}


#project_category .category-item a:hover {
    color: #f64744;
    border-color: #f64744;
    opacity: 1;
}
#project_list_new {
	padding: 40px 20px;
/* 	background-color: #fafafa; */
}
#project_list_new a.cate{
	color: #ffffff;
}
#project_list_new  h2{
	margin: 0 0 20px 0;
}
#project_list_new  h3.title{
	margin: 0 0 10px 0;
	text-align: left;
	font-weight: bold;
	color: #000000;
	font-size: 130%;
    line-height: 130%;
}
#project_list_new  p.title{
	margin: 0 0 5px 0;
	color: #8f8f8f;
	font-size: 95%;
	line-height: 140%;
}
#project_list_new  p.day{
	margin: 0 0 5px 0;
	color: #8f8f8f;
	font-size: 80%;
}
#project_list_fm {
	background-color: #fafafa;
	padding: 40px 0;
}
#project_list_fm  h1{
	margin: 0 0 20px 0;
	text-align: left;
}
#project_list_company {
	padding: 40px 0;
}
#project_list_company  h1{
	margin: 0 0 20px 0;
	text-align: left;
}
#project_list_company .frame{
	height: 45px;
}

#prof-page h2.heart {
	font-size: 250%;
	margin: 0 0 0 0;
}
#prof-page p.heart {
	margin: 0 0 0 0;
}

#prof-page a.heart_on {
    color: #d9009f;
    text-decoration: none;
}
#prof-page a.heart_off {
    color: #c3c3c3;
    text-decoration: none;
}
@media ( min-width : 770px) {
#project_list_company .frame{
	height: 95px;
}
#new_article{
	background-color: #ffffff;
	padding: 40px 20px;
}
.heightcc{
	height: 580px
}
#new_article h2 {
	margin: 10px 0 5px 0;
	text-align: left;
	font-size: 190%
}
#new_article p {
	margin: 5px 0 10px 0;
	font-size: 120%
}
#new_article p.cate {
	margin: 15px 0 10px 0;
	padding: 0 0 0 10px;
	font-size: 120%
}
#topimg h1{
	font-size: 130%;
	padding: 0 5px 0 5px ;
}
#topimg p{
	font-size: 100%;
	padding: 0 5px 0 5px ;
}
#topimg .panel_category {
    position: absolute;
    top: 142px;
    right: -8px;
    width: 89px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: #ffffff;
    border-left: solid 5px;
    -webkit-transform: skew(-30deg, 0);
    -ms-transform: skew(-30deg, 0);
    transform: skew(-30deg, 0);
}
#topimg .panel_top {
    position: relative;
    overflow: hidden;
}

#prof-page{
	padding: 20px;
	display: table;
}

.prof_left{
	width: 20%;
    padding: 20px;
    float: left;
}
.prof_right {
	width: 69%;
    float: right;
    padding: 20px;
}
.prof_right p.endp{
	margin-bottom: 0;
}
.prof_right h1, .prof_right h2 {
	margin: 0 0 10px 0;
}
.prof_right h1 { font-size: 170%; letter-spacing: 1px; margin: 0 0 5px 0; }
.prof_right h2 { font-size: 130%; letter-spacing: 1px; color: #828282; }
.prof_img{
}
.prof_img img {
	
}
#prof-page .category-item, #des_side .category-item {
    margin: 2px 0px;
    display: inline-block;
}
.category-item p {
    display: block;
    font-size: 100%;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
    background: #fff;
    border: 3px #eee solid;
    color: #828282;
    margin: 0 1px 0 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.category-item p.area {
    display: block;
    font-size: 100%;
    font-weight: bold;
    padding: 0 5px;
    text-align: center;
    background: #fff;
    border: 3px #eee solid;
    color: #828282;
    margin: 0 1px 0 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.category-item a {
    display: block;
    font-weight: bold;
    font-size: 100%;
    padding: 0 15px;
    text-align: center;
    background: #fff;
    border: 3px #eee solid;
    color: #333;
    margin: 0 1px 0 1px;
    text-decoration: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.category-item a:hover {
    color: #f64744;
    border-color: #f64744;
    opacity: 1;
}
#prof-page hr{
	margin: 15px 0;
	  display:block;
  display:block;
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px dashed #dfdfdf;
}
}
@media ( max-width : 770px) {
#prof-page{
	padding: 20px;
	display: table;
}

.prof_left{
	width: 100%;
    padding: 20px;
    float: none;
    box-sizing:border-box;
}
.prof_right {
	width: 100%;
    float: none;
    padding: 20px;
    box-sizing:border-box;
}
.prof_right h1 { font-size: 170%; letter-spacing: 1px; margin: 0 0 0 0; }
.prof_right h2 {
	margin: 0 0 10px 0;
	letter-spacing: 1px;
	color: #828282;
}
.prof_right h1 { font-size: 170%; margin: 0 0 5px 0; }
.prof_right h2 { font-size: 120%; }
.prof_img{
}
.prof_img img {
	width: 30%
}
#prof-page .category-item, #des_side .category-item {
    margin: 2px 0px;
    display: inline-block;
}


.category-item a, .category-item p {
    display: block;
    font-size: 100%;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
    background: #fff;
    border: 3px #eee solid;
    color: #828282;
    margin: 0 1px 0 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.category-item p.area {
    display: block;
    font-size: 100%;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
    background: #fff;
    border: 3px #eee solid;
    color: #828282;
    margin: 0 1px 0 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.category-item a:hover {
    color: #f64744;
    border-color: #f64744;
    opacity: 1;
}
}

#mce-blog, #des_contets, #des_side{
	padding: 20px;
	margin-top: 20px;
}
#mce-blog img, #des_contets img {
    display: block;
    max-width: 100%;
    height: auto;
}
#des_side .area_div{
	text-align: center;
	margin: 0 0 20px 0;
}
#des_side hr{
	margin: 25px 0;
	  display:block;
  display:block;
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px dashed #dfdfdf;
}
#mce-blog h2, #des_contets h2{
  margin-top: 0;
}
#mce-blog h2, #des_contets h2 {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 1em;
  background-color: #f0f0f0;
}
#mce-blog h2::before, #des_contets h2::before,
#des_contets h2::after {
  content: '';
  position: absolute;
}
#mce-blog h2::before, #des_contets h2::before {
  top: 100%;
  left: 0;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: #ccc;
}
#mce-blog h2::after, #des_contets h2::after {
  top: 0;
  right: 0;
  z-index: 2;
  border-width: 25px 20px;
  border-style: solid;
  border-color: transparent;
  border-right-color: #fff;
}

.circle {
  color: #fff;
  background-color:#b1b1b1;
  padding: 0;
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  border-radius: 50%;
}
#mce-blog h2 p, #des_contets p{
	line-height: 160%;
}
#des_side h1{
	margin: 0;
	font-size: 400%;
}
#des_side h2 {
  color: #686868;
  padding-left: 10px;
  margin-top: 0;
}
#des_side h2.skill {
  color: #ffffff;
}
#des_side h2.skill {
  position: relative;
  padding: .5em .75em;
  background-color: #9a9a9a;
  border: 1px dotted #9a9a9a;
  border-radius: 6px;
}
#des_side h2.skill::before,
#des_side h2.skill::after {
  position: absolute;
  top: 100%;
  left: 30px;
  content: '';
  height: 0;
  width: 0;
  border: 10px solid transparent;
}
#des_side h2.skill::before {
  border-top: 15px solid #9a9a9a;
}
#des_side h2.skill::after {
  margin-top: -2px;
  border-top: 15px solid #9a9a9a;
}




#des_side p {
  margin: 10px 0 0 0;
}
#post{
	
}
#post h1{
	line-height: 120%;
	font-size: 180%;
	text-align: left;
}

#post h2{
	line-height: 120%;
	text-align: left;
	font-weight: 500;
}
#post p{
	line-height: 130%;
}
#post a{
	color: #ffffff;
	font-weight: bold;
}
@media ( min-width : 500px) {
#post a{
	color: #000000;
}
}
#post_index{
	background-color: #ffffff;
	padding: 20px;
	margin: 0 0 0 0;
	display: inline-block;
}

@media ( min-width : 992px) {
#post_index{
	background-color: #ffffff;
	padding: 20px;
	margin: 0 0 0 20px;
	display: grid;
}
}
#post_index h1{
	line-height: 120%;
	font-size: 180%;
	text-align: left;
	margin: 20px 0 5px 0;
}

#post_index a {
    color: #000000;
    text-decoration: none;
}
#post_index a.ranka {
    color: #ffffff;
    text-decoration: none;
}
#post_index h2{
	line-height: 140%;
	font-size: 120%;
	text-align: left;
	margin: 5px 0 5px 0;
}
#post_index p{
	line-height: 150%;
	font-size: 90%;
	margin: 5px 0 5px 0;
}
#post_index ul{
	
}
#post_index li{
	text-align: left;
	border-bottom: 1px dotted #e9e9e9;
	float: left;
    width: 50%;
}
@media ( min-width : 996px) {
#post_index li{
	text-align: left;
	border-bottom: 1px dotted #e9e9e9;
	float: none;
    width: 100%;
}
}

#post_index li a{
	color: #4f4f4f;
	padding: 15px 0 15px 15px;
	display: block;
	width: 100%;
}
#post_index li a:hover{
	color: #ffffff;
	background-color: #000000;
}



#post_detail{
	
}
#post_detail .category-item {
    margin: 2px 0px;
    display: inline-block;
}
#post_detail .title_bg{
	background-color: #dadada;
	padding: 20px;
}
#post_detail h2.category-slug {
	color: #3e3e3e;
	font-size: 280%;
	margin: 10px 0 5px 0;
	text-align: center;
	line-height: 90%;
}
#post_detail h1.category-name {
	color: #ffffff;
	font-size: 140%;
	margin: 0 0 5px 0;
	text-align: center;
}
#post_detail h3.category-des {
	color: #6b6b6b;
	font-size: 150%;
	margin: 0 0 5px 0;
	text-align: center;
	padding: 0 0 0 0;
	
}
.lineleft-border{
	border-left: none;
	margin-top: 10px;
	padding-left: 0;
	background-image: url('../svg/oni.svg') ;
	background-repeat:no-repeat;
	background-position: right center;
}
@media ( min-width : 992px) {
#post_detail h2.category-slug {
	color: #3e3e3e;
	font-size: 280%;
	margin: 10px 0 5px 0;
	text-align: left;
	line-height: 90%;
}
#post_detail h1.category-name {
	color: #ffffff;
	font-size: 140%;
	margin: 0 0 5px 0;
	text-align: left;
}
#post_detail h3.category-des {
	color: #6b6b6b;
	font-size: 150%;
	margin: 0 0 5px 0;
	text-align: left;
	padding: 15px 0 0 0;
	
}
.lineleft-border{
	border-left: 7px solid #ffffff;
	margin-top: 10px;
	padding-left: 35px;
	height: 65px;
}
}

#post_detail h2.post_pop{
	color: #6b6b6b;
}
.article_category {
    background-color: #000000;
}
.article_category {
        position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 0;
    text-align: center;
}
@media ( min-width : 992px) {
.article_category {
    position: absolute;
    top: 0;
    width: 120px;
    height: 120px;
    margin-left: 0;
    text-align: center;
}
}


		
#post_des{
	position: relative;
}
#post_des p.article_category, #post_des p.category-slug {
    font-size: 2.0rem;
    font-weight: bold;
    margin: 0 0 0 0;
    text-align: center;
    color: #ffffff;
}
#post_des p.category-name{
	font-size: 2.0rem;
    font-weight: bold;
    margin: 0 0 0 0;
    text-align: center;
    color: #ffffff;
}
@media ( min-width : 992px) {
#post_des p.category-name{
	font-size: 2.0rem;
    font-weight: bold;
    margin: 30px 0 0 0;
    text-align: center;
    color: #ffffff;
}
}

#post_contents {
	margin-left: 0px;
	background-color: #ffffff;
	padding: 20px;
	margin: 0 0 0 0;
}
#post_contents img {
	display: block;
    max-width: 100%;
    height: auto;
}
#post_contents_side p{
	margin: 0 0 0 0;
	font-size: 100%;
}
#post_contents_side p.cate{
	margin: 0 0 30px 0;
}
@media ( min-width : 992px) {
#post_contents {
	background-color: #ffffff;
	padding: 20px;
	margin: 0 5px 0 121px;
}
}
#post_contents h1 {
  position: relative;
  padding-bottom: .5em;
  color: #4e4e4e;
  text-align: left;
}
#post_contents h1::before,
#post_contents h1::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  height: 4px;
}
#post_contents h1::before {
  z-index: 2;
  width: 15%;
  background-color: #4e4e4e;
}
#post_contents h1::after {
  width: 100%;
  background: -webkit-repeating-linear-gradient(45deg, #fff, #fff 2px, #4e4e4e 2px, #4e4e4e 4px);
  background: repeating-linear-gradient(45deg, #fff, #fff 2px, #4e4e4e 2px, #4e4e4e 4px);
}
#post_contents h3{
color: #505050;/*文字色*/
padding: 0.5em;/*文字周りの余白*/
display: inline-block;/*おまじない*/
line-height: 1.3;/*行高*/
background: rgba(172, 172, 172, 0.15);/*背景色*/
vertical-align: middle;/*上下中央*/
border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
width: 100%;
}

#post_contents h3:before {
content: '●';
color: white;
margin-right: 8px;
}
.fm-prof p.fm-prof_img{
	padding-right: 20px;
	margin-bottom: 10px;
	max-width: 230px;
	display: block;
    margin-right: auto;
    margin-left: auto;
}
.fm-prof p.fm-prof_text{
	padding-top: 20px;
}
@media ( min-width : 992px) {
.fm-prof p.fm-prof_text{
	padding-top: 20px;
}
}



#event_main .category-item {
    margin: 2px 0px;
    display: inline-block;
}


#event_main .category-item a, #event_main .category-item p{
    display: block;
    font-size: 100%;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
    background: #fff;
    border: 3px #eee solid;
    color: #828282;
    margin: 0 1px 0 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 14px;
}



#event_main .category-item a:hover {
    color: #f64744;
    border-color: #f64744;
    opacity: 1;
}
#event{
	background-color: #ffffff;
	padding: 20px;
	margin: 0 0 0 0;
	display: inline-block;
}

@media ( min-width : 992px) {
#event{
	background-color: #ffffff;
	padding: 20px;
	margin: 30px 0 30px 20px;
	display: grid;
}
}
#event h1{
	line-height: 120%;
	font-size: 180%;
	text-align: left;
	margin: 20px 0 5px 0;
}

#event a {
    color: #000000;
    text-decoration: none;
}

#event h2{
	line-height: 140%;
	font-size: 120%;
	text-align: left;
	margin: 5px 0 5px 0;
}
#event p{
	line-height: 150%;
	font-size: 90%;
	margin: 5px 0 5px 0;
}
#event ul{
	
}
#event li{
	text-align: left;
	border-bottom: 1px dotted #e9e9e9;
	float: left;
    width: 50%;
}
@media ( min-width : 768px) {
#event li{
	text-align: left;
	border-bottom: 1px dotted #e9e9e9;
	float: none;
    width: 100%;
}
}

#event li a{
	color: #4f4f4f;
	padding: 15px 0 15px 15px;
	display: block;
	width: 100%;
}
#event li a:hover{
	color: #ffffff;
	background-color: #000000;
}


#event_map{
	margin: 40px 0 30px 0;
}


#pan{
	height: 20px;
	text-align: right;
	margin: 10px 0 6px 0;
	color: #b1b1b1;
}
#pan ol li {
    display: inline-block;
}
#pan ol li a {
    color: #1ea696;
}
#pan ol li a:hover {
    color: #1ea696;
    text-decoration: underline;
}
#pan ol {
    margin: 0 auto;
    text-align: right;
    font-size: 70%;
}
@media ( min-width : 770px) {
#pan ol {
    margin: 0 auto;
    text-align: right;
    font-size: 100%;
}
}
.footer {
    background-color: #000000;
    color: #fff;
}
footer .footer_logo_img{
	width: 250px;
}
footer .footer_logo_img p{
	text-align: center;
}
footer p.copy{
	text-align: center;
	color: #ffffff;
	margin: 0 0 0 0;
	font-size: 90%;
	line-height: 140%;
}
footer h1 {
	margin: 0 0 5px 0;
	font-size: 120%;
}
footer a{ color: #eaeaea;	}
footer a:hover{ color: #f2de00; }

footer li{ margin: 0 0 5px 0;}

.col10, .col20,.col30, .col40, .col50, .col60, .col70, .col80 ,.col90 {float: left;}
.col10{width: 10%;}
.col20{width: 20%;}
.col30{width: 30%;}
.col40{width: 40%;}
.col50{width: 50%;}
.col60{width: 60%;}
.col70{width: 70%;}
.col80{width: 80%;}
.col90{width: 90%;}

@media ( max-width : 768px) {
.col10, .col20,.col30, .col40, .col50, .col60, .col70, .col80 ,.col90{
	width: 100%;
    float: none;
    box-sizing:border-box;
	}
}

#description{
	background-color: #ffffff;
	display: flex;
}

#user_config_main{background-color: #F8F8F8;}
#user_config_main h1 {
	margin: 0 0 0 0;
	text-align: center;
}
#user_config_main p {
	margin: 0 0 0 0;
	text-align: center;
}
#user_config_main p.star {
	margin: 0 0 0 5px;
	text-align: center;
	align-items: center;
	display: block;
}
@media ( min-width : 768px) {
#user_config_main h1 {
	margin: 0.67em 0 0 0;
	text-align: left;
}
#user_config_main p {
	margin: 0 0 0 5px;
	text-align: left;
	
}
#user_config_main p.star {
	margin: 2px 0 0 5px;
	text-align: center;
	align-items: center;
	display: flex;
}
}


#user_config_main ul {
	display: inline-block;
    position: relative;
    bottom: -4px;
	}
#user_config_main li {
	float: left;
}
@media ( min-width : 769px) {
#user_config_main li {
	position: relative;
}
}

#user_config_main li a{
	padding: 20px 20px 20px 20px;
	display: block;
	text-align: left;
	color: #828282;
}
#user_config_main li a:hover{background-color: #aaaaaa; color: #ffffff; border-top: 2px solid #aaaaaa;padding: 18px 20px 20px 20px;}
#user_config_main .active{background-color: #ffffff; color: #828282; border-top: 2px solid #aaaaaa;padding: 18px 20px 20px 20px;}





#user_config{
	background-color: #ffffff;
	padding: 30px 0 30px 0;
}
#user_config li.identity {
	width: 100%;
	position: relative;
}
#user_config li {
	width: 50%;
	float: left;
}
.fa-angle-double-right:before {
    display: none;
}
@media ( min-width : 769px) {
#user_config li {
	width: 100%;
	position: relative;
}
.fa-angle-double-right:before {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
}
}
#user_config li a{
	padding: 20px 0 20px 20px;
	display: block;
	background-color: #f6f8fa;
	text-align: left;
	color: #828282;
}
#user_config li a:hover{background-color: #8c8c8c; color: #ffffff;}
#user_config .active{background-color: #8c8c8c; color: #ffffff;}

#user_config h2 { text-align: left; margin: 0 0 10px 0; }
#user_config p.caution {
	text-align: left;
	margin: 0 0 25px 0;
	line-height: 150%;
	font-size: 100%;
	text-align: justify;
	}
#user_config p.caution_table {
	text-align: left;
	margin: 10px 0 0 10px;
	line-height: 150%;
	font-size: 90%;
	text-align: justify;
	}
#user_config table { width: 100%; margin: 0 0 20px 0; }
#user_config table.table-mt20mb20 { width: 100%; margin: 20px 0 20px 0; }
#user_config th, #user_config td  { padding: 20px; border: 1px solid #ddd; }
#user_config th.title  { padding: 8px 5px 8px 20px; border: 1px solid #ddd; }
#user_config th  { background: #f4f4f4; }
 
/*----------------------------------------------------
  .user_config_table
----------------------------------------------------*/
.user_config_table th  { width: 30%; text-align: left; }
 
@media only screen and (max-width:480px){
    .user_config_table { margin: 0 -10px; }
    .user_config_table th,
    .user_config_table td{
    width: 100%;
    display: block;
    border-top: none;
    }
  .user_config_table tr:first-child th { border-top: 1px solid #ddd; }
}
/*----------------------------------------------------
  .user_apply_table
----------------------------------------------------*/
.user_apply_table th  { width: 90%; text-align: left; }
 
@media only screen and (max-width:480px){
    .user_apply_table { margin: 0 -10px; }
    .user_apply_table th,
    .user_apply_table td{
    width: 100%;
    display: block;
    border-top: none;
    }
  .user_apply_table tr:first-child th { border-top: 1px solid #ddd; }
}
/*----------------------------------------------------
  .user_team_table
----------------------------------------------------*/
.user_team_table th  { width: 90%; text-align: left; }
 

    .user_team_table { margin: 0 -10px; }
    .user_team_table th,
    .user_team_table td{
    width: 100%;
    display: block;
    border-top: none;
    }
    .user_team_table td.sub{
    width: 10%;
    border-top: none;
    display: table-cell;
    }
  .user_team_table tr:first-child th { border-top: 1px solid #ddd; }




#user_config .radio-inline, #user_config .checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
    margin-left: 10px;
}

#user_config table p{
	line-height: 140%;
	font-size: 110%;
	padding: 0 10px 0 35px;
	margin: 0;
}
@media ( min-width : 768px) {
#user_config table p{
	padding: 0 10px 0 20px;
}
}
 
@media ( min-width : 992px) {

}
#user_config hr {
    margin-top: 5px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eee;
}

#user_config .caution_gray{
	
}
#user_config .caution_gray h4{
	font-size: 160%;
	margin: 0 0 15px 0;
}
#user_config .caution_gray p{
	margin:  0 0 0 0;
	
}

#user_config .caution_gray blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}
#user_config .caution_gray h5{
	font-size: 130%;
	margin: 20px 0 20px 0;
}

#new_post{
	padding: 40px 0;
}
#new_post h1{
	line-height: 120%;
	font-size: 180%;
	text-align: left;
}

#new_post h2{
	line-height: 130%;
	text-align: left;
	font-size: 160%;
	margin: 20px 0 10px 0;
	font-weight: 500;
}
#new_post p{
	line-height: 130%;
	font-size: 100%;
	margin: 0;
}
@media ( min-width : 768px) {
#new_post h2{
	line-height: 130%;
	text-align: left;
	font-size: 160%;
	margin: 20px 0 10px 0;
}
#new_post p{
	line-height: 130%;
	font-size: 110%;
	margin: 0 0 10px 0;
}
}



#new_post a{
	color: #000000;
}
#event_cal{margin: 0;}
@media ( min-width : 768px) {
#event_cal{margin: 0 0 0 25px;}
}


#event_cal a{color: #ffffff;}
#event_cal table {border: 1px solid #CCCCCC; border-collapse: collapse; margin-bottom: 1em;width: 100%; font-size: 90%;} 
#event_cal td {border: 1px solid #CCCCCC; height: 50px; 
 text-align: left; vertical-align: top; padding: 5px; min-height:106px;}
 
#event_cal td a {color: #ff1a7e; text-decoration: none;} 
#event_cal td a:hover {color: #ff1a7e; text-decoration: none;}

#event_cal td.event_main a {color: #ff1a7e; text-decoration: none;} 
#event_cal td.event_main a:hover {color: #ff1a7e; text-decoration: none;}

#event_cal th {padding: 5px;}
 .pink {background-color: #000000; color: #ffffff; border: 1px solid #000000;text-align: center;}
 .pink_l {background-color: #000000; color: #FFFFFF; border: 1px solid #000000;text-align: left;}
 .pink_r {background-color: #000000; color: #FFFFFF; border: 1px solid #000000;text-align: right;}
 .pink_u {color: #F8B0C7;} 
 .blue {color: #88CFE2;} 
 .gray {color: #B5B5B6;} 
 .gray_u {background-color: #E5E5E5;} 
 .today {background-color:#FDE180;}
#event_cal img {padding: 1px 1px 1px 4px;}

#event_cal h2{
	text-align: left;
	font-size: 130%;
	margin: 5px 0 5px 0;
	}
#event_cal p{
	line-height: 130%;
	margin: 5px 0 5px 0;
	font-size: 90%;
}

#history{
	background-color: #fafafa;
	padding: 40px 20px;
}
#history h1{
	line-height: 120%;
	font-size: 180%;
	text-align: left;
}
#history h2{
	line-height: 120%;
	text-align: left;
	font-size: 100%;
	margin: 5px 0 5px 0;
}
#history p{
	line-height: 130%;
	margin: 5px 0 5px 0;
	
}


#history p#vw {
            font-size: 1vw;
        }
#history h2#vw {
            font-size: 1.5vw;
        }
        
        
#news{
	background-color: #F8F8F8;
	padding: 40px 20px;
}
#news h1{
	line-height: 120%;
	font-size: 180%;
	text-align: left;
}
#news h2{
	line-height: 120%;
	text-align: left;
	font-size: 140%;
	margin: 5px 0 5px 0;
}
#news p{
	line-height: 130%;
	margin: 5px 0 5px 0;
	
}
#news dl{
	text-align: left;
	
}
#news dd{
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	border-bottom: dotted 1px #dfdfdf;
}
#news dt { padding: 10px 0; }
#news a { }
#news a:hover { text-decoration: underline; }



#user_news {
    background-color: #ffffff;
    padding: 30px 0 30px 0;
}
#user_news h2 { text-align: left; margin: 0 0 10px 0; }
#user_news h3 { text-align: center; margin: 0 0 10px 0; font-size: 1.5em; }
#user_news dl{
	text-align: left;
	font-size: 120%;
}
#user_news dt{
	float: none;
	width: 100%;
	margin: 0 0 10px 0;
}
#user_news dd{
	text-align: left;
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
}
#user_news dd.day{
	text-align: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
@media ( min-width : 768px) {

#user_news dt{
	float: left;
	width: 80px;
	margin: 0 0 0 0;
}
#user_news dd{
	text-align: left;
	line-height: 190%;
	margin: 0 0 20px 0;
	padding: 0 0 0 80px;
}
}




/* project.php トップメイン*/
.swiper-container{
	text-align: center;
}
.swiper-container .swiper-slide img{
	max-width: 100%;
	height: auto;
}
.prettyprint{
	border: none;
	background: #fafafa;
	color: #697d86;
}
.swiper-container2 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.swiper-container2{
	text-align: center;
}
.swiper-container3 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.swiper-container3{
	text-align: center;
}



.yamenu-sp{
    display:block;
    width:100%;
    height:200px;
}
.yamenu{
    display:block;
    width:33%;
    height:200px;
    float:left;
    position:relative;
}
.yamenu p{
     display: -webkit-flex;
 -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
 align-items: center; /* 縦方向中央揃え */
 -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
 justify-content: center;
    float: left;
    width:85%;height:100px;
    text-align: center;
    clip:rect(0px 500px 100px 0px);
    position:absolute;
    color:#fff;
}

.yamenu-sp div:first-child p{background:#000;}
.yamenu-sp div:nth-child(2) p{ background:#999; }
.yamenu-sp div:nth-child(3) p{ background:#999; }
 
.yamenu p:after{
    content:'';
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    position: absolute;
    top: -50%;
    left: 100%;
    z-index: 1;
}
.yamenu-sp div:first-child p:after{border-left: 50px solid #000;}
.yamenu-sp div:nth-child(2) p:after{ border-left: 50px solid #999; }
.yamenu-sp div:nth-child(3) p:after{ border-left: 50px solid #999; }


#search-area_project{
	
}
#search-area_project #searchform input[type=checkbox] {
	display: none;		/* checkboxを非表示にする */
}
#search-area_project #searchform input[type="checkbox"]:checked + label {
	color: #f64744;
    border-color: #f64744;
    opacity: 1;
}
#search-area_project #searchform .category-item {
    margin: 2px 0px;
    display: inline-block;
}
#search-area_project .label {
	display: block;		/* ブロックレベル要素化する */ 
	font-size: 100%;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
    background: #fff;
    border: 3px #eee solid;
    color: #828282;
    margin: 0 1px 0 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 14px;
}


#event_detail_Modal table { width: 100%; margin: 0 0 20px 0; }
#event_detail_Modal table.table-mt20mb20 { width: 100%; margin: 20px 0 20px 0; }
#event_detail_Modal th, #event_detail_Modal td  { padding: 20px; border: 1px solid #ddd; }
#event_detail_Modal th.title  { padding: 8px 5px 8px 20px; border: 1px solid #ddd; }
#event_detail_Modal th  { background: #f4f4f4; }
 
/*----------------------------------------------------
  .user_config_table
----------------------------------------------------*/
.event_detail_Modal th  { width: 30%; text-align: left; }
 
@media only screen and (max-width:480px){
    .event_detail_Modal { margin: 0 -10px; }
    .event_detail_Modal th,
    .event_detail_Modal td{
    width: 100%;
    display: block;
    border-top: none;
    }
  .event_detail_Modal tr:first-child th { border-top: 1px solid #ddd; }
}

#header .dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777777;
    white-space:normal;
    float: left;
}
#header .dropdown-menu {
    position: absolute;
    top: 125%;
    left: -179px;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
#header .dropdown-menu:before {
    content: "";
    border: 12px solid transparent;
    border-bottom: 12px solid #ffffff;
    position: absolute;
    right: 4%;
    top: -23px;
}
#header .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: normal;
    font-size: 90%;
    text-align: left;
}
#header .dropdown-menu > li > a.link {
    text-align: center;
}
#header .dropdown-menu > li > a:hover {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    background-color:rgba(243, 223, 0, 0.14);
}
#header .dropdown-menu > li {
    position: relative;
    float: left;
    width: 100%;
    font-size: 90%;
    text-align: center;
    font-weight: bold;
}
#header .dropdown-menu > li a > span {
    text-align: left;
    margin-bottom: 5px;
    font-size: 90%;
    color: #8b8b8b;
    padding: 0 0 0 20px;
    display: table-row;
}

#header .caret {
    display: table-caption;
    width: 0;
    height: 0;
    position: absolute;
    top: 36px;
    right: 18px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid ;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}